.list-of-pokemons ul{
    list-style: none;
    margin: 0px;
}

.list-of-pokemons li{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    padding: 5.8px;
}