*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100vh;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222;
}

.app{
    padding: 0px;
    background: transparent;
    border-radius: 5px;
    width: 400px;
    height: 400px;
}

.rigth-side{
    width: 200px;
    background: yellow;
}

.left-side{
    width: 200px;
    background: violet;
}

h1{
    margin: 0px;
    padding: 0px;
}

.title{
    background: crimson;
    margin: 0px 0px 0px 0px;
    /* border-radius: 5px; */
    border: 1px solid #111;
}

.content-app{
    padding: 0px;
    background: turquoise;
    display: flex;
    flex-direction: row;
}

.buttons{
    font-size: x-large;

}