*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100vh;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}

.app{
    padding: 0px;
    background: transparent;
    border-radius: 5px;
    width: 602px;
    min-width: 600px;
    height: 502px;
    min-height: 500px;
    background: #F3433A;
    border: 1px solid #222; 
}

.content-app{
    padding: 0px;
    /* background: turquoise; */
    display: flex;
    flex-wrap: wrap;
}

/* .search-content{
    width: 300px;
} */

.rigth-side{
    width: 300px;
    min-width: 300;
    height: 370px;
    min-height: 370px;
    /* background: yellow; */
    padding: 10px;
}

.left-side{
    width: 300px;
    min-width: 300px;
    height: 370px;
    min-height: 370px;
    /* background: violet; */
    padding: 10px;
}

h1{
    margin: 0px;
    padding: 3.5px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    font-size: 1.7em;
}

.title{
    background: #ffe238;
    margin: 0px 0px 0px 0px;
    /* border-radius: 5px; */
    /* border: 1px solid #111; */
}

.div-buttons{
    margin: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 8px 0px 0px 0px;
}

.buttons{
    font-size: x-large;
    border-radius: 50px;
    padding: 3px;
    margin: 0px 5px 0px 5px;
}